<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="static/CSS/Style.css" rel="stylesheet">
</head>
<body>
    <header class=main-header>
        <div class="header-top-bar">
            <img class="logo" src="static/images/logo-mercado-liebre.svg" alt="logo"/>
            <div class="search-bar">
                <form class=formSearch action="" method="GET">
                    <input type="search" placeholder="Buscar Productos, marcas " name="search"><button class="searchIcon" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <h2 class="cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="listaOfertas">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul class="listaCuenta">
                <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></a></i></li>
            </ul>
        </nav>
    </header>
    <div class="Banner">
        <img class="bannerImg" src="static/images/img-home-banner.jpg" alt="Imagen de Banner">
    </div>
    <main class="main">
        <h3 class=titulares>Basado en tu última visita</h3>
        <section class="Visita">
            <article id="Cafetera">
                <img class="imgArticulo" src="static/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="artIcon">
                    <i id="sendIcon"class="fas fa-truck"></i> 
                </div>                
                <div class=articulo>          
                    <div class="precio">$6.770</div>
                    <div class="descuento">40% OFF</div>
                    <div class="descripcion">Cafetera Moulinex</div>
                </div>
            </article>
            <article id=Macbook>
                <img class="imgArticulo" src="static/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <i id="sendIcon"class="fas fa-truck"></i>
                <div class=articulo>
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% off</div>
                    <div class="descripcion">MacBook Pro 2019</div>
                </div>
            </article>
            <article id="Samsung_Galaxy">
                <img class="imgArticulo" src="static/images/img-samsung-galaxy-s10.jpg"  alt="imagen del Samsung Galaxy">
                <i id="sendIcon"class="fas fa-truck"></i>
                <div class=articulo>
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% off</div>
                    <div class="descripcion">Samsung Galaxy S10</div>
                </div>
            </article>
            <article id ="SmartTv">
                <img class="imgArticulo" src="static/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <i id="sendIcon"class="fas fa-truck"></i>
                <div class=articulo>
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% off</div>
                    <div class="descripcion">SmartTv Samsung 43"</div>
                </div>
            </article>
        </section>
        <h3 class=titulares>Sección de Ofertas</h3>
        <section class="Ofertas">
            
            <article id="Cafetera">
                <img class="imgArticulo" src="static/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <i id="sendIcon"class="fas fa-truck"></i>  
                <div class=articulo>                           
                    <div class="precio">$6.770</div>
                    <div class="descuento">40% OFF</div>
                    <div class="descripcion">Cafetera Moulinex</div>
                </div>
            </article>
            <article id=Macbook>
                <img class="imgArticulo" src="static/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <i id="sendIcon"class="fas fa-truck"></i>
                <div class=articulo>
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% off</div>
                    <div class="descripcion">MacBook Pro 2019</div>
                </div>
            </article>
            <article id="Samsung_Galaxy">
                <img class="imgArticulo" src="static/images/img-samsung-galaxy-s10.jpg"  alt="imagen del Samsung Galaxy">
                <i id="sendIcon"class="fas fa-truck"></i>
                <div class=articulo>
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% off</div>
                    <div class="descripcion">Samsung Galaxy S10</div>
                </div>
            </article>
            <article id ="SmartTv">
                <img class="imgArticulo" src="static/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <i id="sendIcon"class="fas fa-truck"></i>
                <div class=articulo>
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% off</div>
                    <div class="descripcion">SmartTv Samsung 43"</div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section>
            <i id="IconFooter" class="fas fa-credit-card"></i>
            <p class="tituloFooter">Pagá con tarjeta o en efectivo</o>
            <p class="textoFooter">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <i id="IconFooter" class="fas fa-gift"></i>
            <p class="tituloFooter">Envío gratis desde $ 2.500</p>
            <p class="textoFooter">
                Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <i id="IconFooter" class="fas fa-user-shield"></i>
            <p class="tituloFooter">Seguridad, de principio a fin</p>
            <p class="textoFooter">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </section> 
    </footer>
    <section>
        Copyright © 1999-2021 MercadoLiebre S.R.L.
    </section>
</body>
</html>